body{
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

html{
    height: 100%;
    overflow-x: hidden;
}

.tituloP{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-top: 20px;
}

.divFeed{
    padding: 0.1em;
}

.divFeed button{
    padding: 0.3em;
}

.logo{
    width: 25%; 
    height: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0px 40px 0px;
}

.indicParada{
    width: 30px;
    height: 30px;
}
.select{
    margin-bottom: 5px;
}

.select2{
    margin-bottom: 20px;
}

.iconMap{
    width: 40px;
    height: 40px;
}

.divIconMap{
    padding-left:0;
}

.paradas{
    width: 30px;
    height: 30px;
    text-align: center;
}

.setas{
    width: 26px;
    height: 26px;
}

.origem{
    text-align:right;
}

.destino{
    text-align: left;
}

.divIti{
    text-align: center;
}

.divIti > a{
    padding: initial;
    margin-top: 20px;
}

.semhorario{
    text-align: center;
}

span{
    font-family: 'Fjalla One', sans-serif;
}

p{
    font-family: 'Comfortaa', cursive;
    margin: 0px;
}

select{
    font-family: 'Comfortaa', cursive;
}

.rodape{
    position: relative; 
    height: 2em; 
    bottom:0;
    text-align: center;
    font-size: 12px;
}

.label{
    text-align: center;
    margin: 35px 0px 0px 0px;
}

.col-md-4{
    padding: 0px 5px 0px 5px;
}

.iti{
    margin-bottom: 20px;
}

