.titulo{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0px 40px 0px;
}

.select{
    margin-bottom: 10px;
}

.select2{
    margin-bottom: 20px;
}

.paradas{
    width: 30px;
    height: 30px;
    text-align: center;
}

.origem{
    text-align:right;
}

.destino{
    text-align: left;
}

.divIti{
    text-align: center;
}

.divIti > a{
    padding: initial;
}

.semhorario{
    text-align: center;
}

span{
    font-family: 'Fjalla One', sans-serif;
}

p{
    font-family: 'Comfortaa', cursive;
}